ugkorea/
venv/
Output/
errors.txt
db/config.ini
db/config.py
extensions.txt
data_upload_errors.log 
__pycache__/
*.py[cod]
**/config.py/
mail/config.py
log.txt
api/config.py

# Локальные документы Microsoft Excel и Word не являются исходным кодом.
*.[xX][lL][sS]
*.[xX][lL][sS][xXmMbB]
*.[xX][lL][tT]
*.[xX][lL][tT][xXmM]
*.[dD][oO][cC]
*.[dD][oO][cC][xXmM]
*.[dD][oO][tT]
*.[dD][oO][tT][xXmM]
~$*
