ugkorea/
venv/
Output/
errors.txt
db/config.ini
db/config.py
extensions.txt
data_upload_errors.log 
**/__pycache__/
**/**/__pycache__/
*.pyc
__pycache__/
**/config.py/
mail/config.py
log.txt
api/config.py
mail/__pycache__